  <!-- Stock Section Begins -->
  <div class="jumbotron">
    <!-- TODO: Add Pagination  -->
    <!-- <nav aria-label="...">
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active">
      <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
-->
    <div class="row">
      <div class="col">
        <div class="card bg-dark text-white">
          <div class="card-img-overlay">
            <h4 class="card-title">Add Item Form</h4>
            <label class="card-text">Name</label>
          </div>
        </div>
      </div>
        <div class="form-group">
          <form action="stockList">
            <button type="submit" for=""
              class="btn btn-secondary">Show All Items</button>
          </form>
          <form action="addItem">
            <button type="submit" for=""
              class="btn btn-secondary">Add Item</button>
          </form>
          <form action="removeItem">
            <button type="submit" for=""
              class="btn btn-secondary">Remove Item</button>
          </form>
        </div>


      <div class="col header">Stock Items
      </div>
    </div>
  </div>