<nav class="navbar navbar-expand-md navbar-light" id="navbarMain">
    <a class="navbar-brand" href="/">
        <img src="/img/csologo.png" width="50px" height="50px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0" id="navSelector">
            <li class="nav-item" id="home">
                <a class="nav-link" href="/" id="index">Home</a>
            </li>
            <li class="nav-item" id="about">
                <a class="nav-link" href="/about" id="about">About</a>
            </li>
            <li class="nav-item" id="projects">
                <a class="nav-link" href="/projects" id="projects">Projects</a>
            </li>
            <li class="nav-item" id="rent">
                <a class="nav-link" href="/rent" id="rent">Rent</a>
            </li>
        </ul>
        <span class="navbar-text" id="link">
            <a href="/login" id="link">login</a>
        </span>
    </div>
</nav>