<!doctype html>
<html lang="en">

<head>
  <% include ../views/partials/topHeaders.ejs %>
</head>

<body>
  <!-- IMPORT THE NAVBAR -->
  <% include ../views/partials/topNav.ejs %>
  <!-- END OF NAV BAR -->

  <h1 id="centerHeader" class="text-center">ABOUT PAGE</h1>
  <div class="container">
    <div class="row">
      <div class="col">
        <p>From the president of the CSO, </p>
        <div class="row">
          <div class="col">
            <ul class="list-group">
              <li class="list-group-item">president</li>
              <li class="list-group-item">vice president</li>
              <li class="list-group-item">Morbi leo risus</li>
              <li class="list-group-item">Porta ac consectetur ac</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Including Footer -->
  <% include ../views/partials/botHeaders.ejs %>

  <!-- Including bottom headers -->
  <% include ../views/partials/botHeaders.ejs %>
</body>

</html>