<!doctype html>
<html lang="en">

<head>
  <% include ../views/partials/topHeaders.ejs %>
</head>

<body>
  <!-- IMPORT THE NAVBAR -->
  <% include ../views/partials/topNav.ejs %>
  <!-- END OF NAV BAR -->

  <h1 id="centerHeader" class="text-center">ABOUT PAGE</h1>

  <!-- Including Footer -->
  <% include ../views/partials/botHeaders.ejs %>

  <!-- Including bottom headers -->
  <% include ../views/partials/botHeaders.ejs %>
</body>

</html>