<!doctype html>
<html lang="en">

<head>
  <!-- Including Top Headers -->
  <% include ../views/partials/topHeaders.ejs %>
</head>

<body onload="">
  <!-- IMPORT THE NAVBAR -->
  <% include ../views/partials/topNav.ejs %>
  <!--IMPORT THE LOG LOGIC-->
  <% include ../views/partials/logLogic.ejs %>
  <!-- END OF NAV BAR -->
  <br>

  <br>
  <div class="container-fluid">
    <% include ./partials/stockView.ejs %>
  </div>
  <!-- END OF EVENTS -->
  <!-- Including Footer -->
  <% include ./partials/footer.ejs %>

  <!-- Including bottom headers -->
  <% include ./partials/botHeaders.ejs %>

</body>


</html>