/*Used for the navbar generation*/
#navbarMain, #navbarName, #navbarName:hover, #navSelector .active a{
  background-color: #D50032;
}

/*End navabr Generation*/

/*Used for the captions in the center of the carousel*/
.carousel-caption{
  top: 50%;
  transform: translateY(-50%);
  color: #D50032;
  text-shadow: -1px 0 	#F0EAD6, 0 1px 	#F0EAD6, 1px 0 	#F0EAD6, 0 -1px 	#F0EAD6;
}
/*Used for the Event Cards*/
.colInner{
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: contain;
  text-align: center;
  display: block;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: #000;
}
/* MARK */
#link{
  color: #FFF;
}

#tilePadding{
  padding: 5px 5px;
}

#eventDesc{
  font-size: 16px;
  color: #FFF;
}

.card-title{
  text-align: center;
}

#eventTitle{
  color: #D50032; 
  text-shadow: -1px 0 	#F0EAD6, 0 1px 	#F0EAD6, 1px 0 	#F0EAD6, 0 -1px 	#F0EAD6;}
/*End Event Cards*/

/*Global body properties*/
body{
  background-color: #F0EAD6;
}
